.familyTreeGraph {
    border: 2px solid black;
    height: 600px;
    margin-top: 10px;
    width: 800px;
}

.treeName {
    font-size: large;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

