<mat-toolbar color="primary" style="background-color: #9b6f0f;" *ngIf="currentUser">
    <a mat-button color="primary" style="background-color: #278514; color: white; margin-left: 3%;"  routerLink="/">Strona główna</a>
    <a mat-button color="primary" style="background-color: #278514; color: white; margin-left: 3%;"  routerLink="/form">Stwórz drzewo</a>
    <a mat-button color="primary" style="background-color: #278514; color: white; margin-left: 3%;"  routerLink="/listoftrees">Zobacz drzewa</a>
    <a mat-button color="primary" style="background-color: #278514; color: white; margin-left: 3%;"(click)="logout()">Wyloguj się</a>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>