<div style="margin-top: 200px;"  fxLayout="row" fxLayoutAlign="space-around center">
    <div style="margin-left: auto; margin-right: auto;">
        <mat-card style="background-color: antiquewhite;">
            <mat-card-header>
                <mat-card-title >Stwórz swoje drzewo!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                Dodaj członków rodziny, a następnie określ ich relację między sobą
                </p>
            </mat-card-content>
            <mat-card-actions style="align-items: center; text-align: center; margin-left: auto; margin-right: auto;">
                <button color="primary" style="background-color: #278514; color: white;" mat-button routerLink="/form">Stwórz drzewo</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div style="margin-left: auto; margin-right: auto;">
        <mat-card style="background-color: antiquewhite;">
            <mat-card-header style="align-items: center; text-align: center; margin-left: auto; margin-right: auto;">
                <mat-card-title>Zobacz drzewa!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                W każdej chwili możesz zobaczyć utworzone przez siebie drzewa
                </p>
            </mat-card-content>
            <mat-card-actions style="align-items: center; text-align: center; margin-left: auto; margin-right: auto;">
                <button color="primary" style="background-color: #278514; color: white;" routerLink="/listoftree" mat-button>Zobacz drzewa</button>
            </mat-card-actions>
            </mat-card>
    </div>
</div>

    
    
      

